<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:Config.properties"/>

    <bean id="cacheLFU" class="ru.baryshev.kirill.MySuperCache">
        <constructor-arg name="maxSize" value="${cache.cacheSize}"/>
        <constructor-arg name="algorithmName" value="${cacheLFU.strategy}"/>
    </bean>

    <bean id="cacheLRU" class="ru.baryshev.kirill.MySuperCache">
        <constructor-arg name="maxSize" value="${cache.cacheSize}"/>
        <constructor-arg name="algorithmName" value="${cacheLRU.strategy}"/>
    </bean>

</beans>